<div class="row">
  <div class="small-12 columns">
    <h1>Hack Fargo Hackathon November 2015</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Summary:</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>
      <strong>Hypothosis: </strong> Incomes distributions in Fargo will not be equally spread across town.
    </p>
    <p>
      <strong>Questions:</strong>
        <ol>
          <li>If the hypothesis is true does income move through the city over time?</li>
          <li>Can income equality be signaled at this macro level?</li>
        </ol>
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <strong>WARNING!!!!</strong>
    <p>
      This data does not ANSWER questions. It only helps refine where you might ask more precise ones.
    </p>
    <p>
      Data was pulled from the US Census Fact Finder app found <a href="http://factfinder.census.gov/faces/nav/jsf/pages/guided_search.xhtml">here</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Data Sets:</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to "Median Income By Zipcode", median_income_path %> <strong>|</strong>
    <%= link_to "Low to High Income Distributions by Zipcode", low_high_path %> <strong>|</strong>
    <%= link_to "Comparision of Married vs Non Married Households", married_or_not_path %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Next Steps:</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ol>
      <li>Break Down Data for Census Parcels to provide higher resolution views</li>
      <li>Map Zipcodes and Parcels to geoJSON to provide visual representations of the city</li>
    </ol>
  </div>
</div>
