<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 columns">
    <h1>Percent of Total Households by Zipcode</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div id="linechart_material"></div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>Links to other Sets</h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to "Home", home_path %> <strong>|</strong>
    <%= link_to "Median Income By Zipcode", median_income_path %> <strong>|</strong>
    <%= link_to "Comparision of Married vs Non Married Households", married_or_not_path %>
  </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['line']});
  google.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Year');
    data.addColumn('number', '58104 < $10k - $50k');
    data.addColumn('number', '58104 $50k - $99k');
    data.addColumn('number', '58104 $100 - > $200k');
    data.addColumn('number', '58103 < $10k - $50k');
    data.addColumn('number', '58103 $50k - $99k');
    data.addColumn('number', '58103 $100 - > $200k');
    data.addColumn('number', '58102 < $10k - $50k');
    data.addColumn('number', '58102 $50k - $99k');
    data.addColumn('number', '58102 $100 - > $200k');

    data.addRows([
      [2011,  37.0, 34.9, 28.0, 59.9, 27.7, 12.3, 61.1, 24.6, 14.3],
      [2012,  37.3, 33.1, 29.7, 58.7, 28.2, 12.9, 59.6, 25.2, 15.2],
      [2013,  35.9, 33.4, 30.7, 59.6, 28.4, 12.1, 57.6, 26.2, 16.1]
    ]);

    var options = {
      chart: {
        title: 'Percentage of Medium Household Income by Group',
        subtitle: 'Seperated by Zipcode'
      },
      width: 1000,
      height: 800,
      hAxis: {
        ticks: [2011, 2012, 2013]
      }
    };

    var chart = new google.charts.Line(document.getElementById('linechart_material'));

    chart.draw(data, options);
  }
</script>
